---
import Base from "../../layouts/Base.astro";
import PostsList from "../../components/PostsList.astro";
---

<Base pageTitle="Blog">
  <section>
    <h2>Articles rencents</h2>
    <br />
    <PostsList />
  </section>
</Base>
