---
import Base from "../layouts/Base.astro";
import PostsList from "../components/PostsList.astro";
---

<Base pageTitle="404">
  <section>
    <h2>404 - Page introuvable</h2>
    <p>La page que vous avez demandé n'existe pas</p>
  </section>
</Base>
