---
import Base from "../layouts/Base.astro";
import PostsList from "../components/PostsList.astro";
---

<Base pageTitle="Home">
  <section>
    <h2>PsyCausette</h2>
    <p>
      PsyCausette, en voilà un nom farfelu… Peut-être un peu, admettons-le !
      Mais pourtant c’est bien l’objectif de ce site : ici on cause de
      psychologie. Plus spécifiquement, on va causer de recherche en psychologie
      sociale et du travail. Vous avez déjà entendu parler recherche ? Ça vous a
      filé une bonne petite migraine ? Hé bien ici, on essaie de réduire votre
      consommation en antalgiques pour cause de lecture d’articles un peu trop…
      jargonneux !
    </p>
    <p>
      A long terme, plusieurs petits projets devraient montrer le bout de leur
      nez : choix d’un super logo, relais d’études en psycho, mise à disposition
      d’outil, … mais plus immédiatement, des petits récap’ d’articles
      scientifiques sur des thématiques variées de psychologie du travail et
      aussi mise en ligne régulière des liens vers d’autres ressources de
      « vulgarisation » scientifique en psychologie et Bon, je vais être
      honnête, par « thématiques variées » entendez plutôt des recherches en
      lien avec la formation, l’emploi et le chômage puisque ce sont mes
      thématiques de prédilection. Mais je suis une personne ouverte d’esprit :
      je lis aussi sur d’autres thématiques et le but c’est de vous partager
      tout ça sous un format sans prise de tête (et sans maux de tête !).
    </p>
  </section>
  <section>
    <h2>Articles Recents</h2>
    <PostsList />
  </section>
</Base>
