---
import Base from "../layouts/Base.astro";
import Ressource from "../components/Ressource.astro";
import { getCollection } from "astro:content";

const resources = await getCollection("resources", ({ data }) => {
  return data.isDraft != true;
});
---

<Base pageTitle="Ressources">
  <h2>Ressources</h2>
  <p>
    Si nos articles vous plaisent alors ces liens vers d’autres ressources de
    vulgarisation scientifique en psychologie vont probablement aussi vous
    plaire
  </p>
  <ul>
    {
      resources.map((entry) => (
        <li>
          <Ressource ressource={entry} />
        </li>
      ))
    }
  </ul>
</Base>

<style>
  ul {
    padding-inline-start: 0px;
  }
  li {
    margin: 1em 0;
    list-style-type: none;
  }
</style>
