---
import { siteConfig } from "../site.config";
---

<footer>
  <div>
    Ce contenu est publié sous license
    <a href="https://creativecommons.org/licenses/by/4.0/" target="_blank">
      Creative Commons
    </a>
  </div>

  <nav>
    {
      siteConfig.socialLinks.map(({ name, url }) => (
        <a href={url} target="_blank">
          {name}
        </a>
      ))
    }
  </nav>
</footer>
<style>
  footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1em;

    color: white;
    background-color: var(--primary);
    box-shadow: 0 2px 16px rgba(54, 54, 54, 0.75);
  }

  @media (min-width: 640px) {
    footer {
      flex-direction: row;
    }
  }

  a {
    color: #a9fff8 !important;
  }
</style>
