---
import { siteConfig } from "../site.config";
import HeaderLink from "./HeaderLink.astro";
---

<header>
  <nav>
    <h1>
      <a href="/">{siteConfig.title}</a>
    </h1>
    <div class="internal-links">
      {
        siteConfig.menuLinks.map(({ name, url }) => (
          <HeaderLink href={url}>{name}</HeaderLink>
        ))
      }
    </div>
  </nav>
</header>

<style>
  header {
    background-color: var(--footer-header-background);
    box-shadow: var(--footer-header-shadow);
  }
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  @media (max-width: 640px) {
    nav {
      padding-top: 1.5rem;
      flex-direction: column;
    }
  }

  h1 {
    margin: 0;
    font-size: 2rem;
  }

  a {
    padding: 1em;
    font-size: 1.1em;
    color: var(--footer-header-foreground) !important;
    border-bottom: 4px solid transparent;
    text-decoration: none;
  }

  a.active {
    text-decoration: none;
    border-bottom-color: var(--accent);
  }
</style>
