---
import { siteConfig } from "../site.config";

const { pathname } = Astro.url;

function isActive(href: string) {
  return href === pathname || href === pathname.replace(/\/$/, "");
}
---

<header>
  <nav>
    <h1>
      <a href="/">{siteConfig.title}</a>
    </h1>
    <div class="internal-links">
      {
        siteConfig.menuLinks.map(({ name, url }) => (
          <a href={url} class={isActive(url) ? "menu active" : "menu"}>
            {name}
          </a>
        ))
      }
    </div>
  </nav>
</header>

<style>
  header {
    background-color: var(--footer-header-background);
    box-shadow: var(--footer-header-shadow);
    font-family: "Bricolage Grotesque", sans-serif;
  }

  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  /* vertical menu on screen to small to show all menus on one line */
  @media (max-width: 740px) {
    nav {
      padding-top: 1rem;
      flex-direction: column;
    }
    /*Remove external padding for very small screen*/
    header {
      padding: 0;
    }
  }

  a {
    padding: 1em;
    border-bottom: 4px solid transparent;

    font-size: 1.1em;
    text-decoration: none;
    color: var(--footer-header-foreground) !important;
  }

  h1 {
    margin: 0;
    font-size: 2rem;
  }

  .menu {
    display: inline-block;
  }

  .active {
    text-decoration: none;
    border-bottom-color: var(--footer-header-foreground);
  }
</style>
